# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Config for PostgreSQL database
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "transaction-db"
DB_SCHEMA = "public"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}"

# Config Kafka
KAFKA_HOST=localhost:9092
TOPIC_ANTIFRAUD=antifraud-topic
TOPIC_TRANSACTION=transaction-topic
CLIENT_ID=transactions
GROUP_ID=transactions-group

# Config Application
PORT = 3001
BASE_URL = "http://localhost:3001"


